# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/profile_photos/*
!media/profile_photos/.gitkeep
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
